@import 'src/app/styles/styles.scss';
$left-s: calc(-1 * ($widthCircle-s + 10px));
$left-m: calc(-1 * ($widthCircle-m + 50px));
$left-m: calc(-1 * ($widthCircle-m + 50px));
$left-l: calc(-1 * ($widthCircle-l + 100px));;

.wrapper {
    @include flex-center-column;
    width: 100%;
    position: relative;

    //линия
    &::before {
        content: '';
        position: absolute;
        border: 0.3rem solid $color-text;
        left: calc($left-m + ($widthCircle-m /2));
        height: 100%;
        background: $color-text;
        transform: translate(-50%, 0);
        z-index: 10;
        @include bigDevice{
            left: calc($left-l + ($widthCircle-l /2));
        }
        @include mobileDevice{
           display: none;
        }
        @include tabletDevice{
            display: none;
        }
    }
}
.projects {
    list-style: none;
    width: inherit;
}
.projects {
    & > div:not(:last-child) {
        margin-bottom: 50px;
    }
}

.ProjectWrapper {

    position: relative;

    &:not(:last-child) {
        margin-bottom: 50px;
    }
    //круг
    .date {
        content: '';
        position: absolute;
        top: 50%;
        left: $left-m;
        background: $bg-color;
        border: 0.6rem solid $color-title;
        border-radius: 50%;
        width: $widthCircle-m;
        aspect-ratio: 1;
        color: $link-color-1;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0, -50%);
        z-index: 10;

        @include bigDevice{
            width: $widthCircle-l;
            left: $left-l;
        }
        @include mobileDevice{
            width: $widthCircle-s;
            top: 5%;
            left: 0;
        }
        @include tabletDevice{
            width: $widthCircle-s;
            top: 5%;
            left: 0;
        }
    }

}
